<mat-card class="p-2" [ngClass]="{'text-center': !widthCol, 'h-full': widthCol, 'p-0': widthCol}">
    <div  [ngClass]="{'flex': widthCol, 'h-full': widthCol}">
        <img class="mx-auto h-full" 
                [ngClass]="{'h-[180px]': !widthCol, 'h-[360px]': widthCol}" 
                src="https://via.placeholder.com/150">
        <div class="w-full" [ngClass]="{'px-8 flex flex-col justify-between' : widthCol, 'pt-2': widthCol}">
            <div>
                <h5>Clothing</h5>
                <p class="truncate hover:whitespace-normal">Jacket</p>
                <p *ngIf="widthCol">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="flex justify-between">
                <span class="text-red-300">
                    {{'150' | currency}}
                </span>
                <button (click)="addCart()">
                    <mat-icon class="text-gray-700">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>
